[submodule "IF2211_Tucil1_13521116"]
	path = IF2211_Tucil1_13521116
	url = https://github.com/Gulilil/IF2211_Tucil1_13521116.git
[submodule "IF2211_Tubes1_.jar"]
	path = IF2211_Tubes1_.jar
	url = https://github.com/Gulilil/IF2211_Tubes1_.jar.git
[submodule "IF2211_Tucil2_13521116_13521156"]
	path = IF2211_Tucil2_13521116_13521156
	url = https://github.com/Gulilil/IF2211_Tucil2_13521116_13521156.git
[submodule "IF2210_OOP_xixixi_AJG"]
	path = IF2210_OOP_xixixi_AJG
	url = https://github.com/Gulilil/IF2210_OOP_xixixi_AJG.git
[submodule "IF2211_Tubes2_bingung"]
	path = IF2211_Tubes2_bingung
	url = https://github.com/Gulilil/IF2211_Tubes2_bingung.git
[submodule "IF2211_Tucil3_13521008_13521116"]
	path = IF2211_Tucil3_13521008_13521116
	url = https://github.com/Gulilil/IF2211_Tucil3_13521008_13521116.git
[submodule "IF2220_Tubes_Probstat"]
	path = IF2220_Tubes_Probstat
	url = https://github.com/Gulilil/IF2220_Tubes_Probstat.git
[submodule "IF2230-2023-ded_os_is_ded"]
	path = IF2230-2023-ded_os_is_ded
	url = https://github.com/Gulilil/IF2230-2023-ded_os_is_ded.git
[submodule "IF2211_Tubes3_ImagineKelar_BE"]
	path = IF2211_Tubes3_ImagineKelar_BE
	url = https://github.com/Gulilil/IF2211_Tubes3_ImagineKelar_BE.git
[submodule "IF2211_Tubes3_ImagineKelar_FE"]
	path = IF2211_Tubes3_ImagineKelar_FE
	url = https://github.com/Gulilil/IF2211_Tubes3_ImagineKelar_FE.git
[submodule "IF2210_OOP_xixixi_ASU"]
	path = IF2210_OOP_xixixi_ASU
	url = https://github.com/Gulilil/IF2210_OOP_xixixi_ASU.git
[submodule "IF2250_2023-K02-07-Your-Food-Companion"]
	path = IF2250_2023-K02-07-Your-Food-Companion
	url = https://github.com/Gulilil/IF2250_2023-K02-07-Your-Food-Companion.git
[submodule "IF2210_PrakOOP"]
	path = IF2210_PrakOOP
	url = https://github.com/Gulilil/IF2210_PrakOOP.git
